{#
 #Shows entry template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
		<p>{{ entry.date }}</p>
		{# <h1>{{ entry.venue.first() }}</h1> #}
		<p>{{ entry.lineUp }}</p>
		<p>{{ entry.time }}</p>
		<p>{{ entry.body }}</p>
{# 		{% for asset in entry.poster %}
			<img src="{{ asset.getUrl() }}" />
		{% endfor %}	 #}
	</article>
{% endblock %}
