{% extends "_layout" %} 
{% set title = "Luke Spurr Allen : Shows" %} 
{% block content %}
    <h1 class="page-title">Shows</h1>
    {% for entry in craft.entries.find({ section:'shows', date : ">= " ~ now.w3cDate() , order:'date'}) %}
    <div class="show-block">
        <div class="full-width">
            <h2>{{ entry.date | date("F d, Y")}}</h2>
            <hr>
        </div>
        <div class="flex">
            <div class="third">
                <article>
                    <h1><a href="{{ entry.venue.first().website }}" target="_blank">{{ entry.venue.first() }}</a></h1>
                    <h2>{{ entry.lineUp }}</h2>
                    <p>{{ entry.time |date("g:i a") }}
                    {% if entry.cover|length %}
                    , {{ entry.cover }}
                        {% endif %}
                    </p>
                    <hr>
                    <p>{{ entry.body }}</p>
                </article>
            </div>
            <div class="third">
                {% for asset in entry.showArt %}
                <img class="albumart" src="{{ asset.getUrl('threeHundredTwentyPxWide') }}" alt="{{ entry.venue.first() }} {{ entry.date | date(" F d, Y ") }}" /> {% endfor %}
            </div>
        </div>
    </div> 
    {% endfor %}
    <div class="pastshows-link">
        <a href="{{ url('pastshows') }}">see past shows</a>
    </div>
{% endblock %}
