
{% extends "_layout" %} 
{% set title = "Luke Spurr Allen : Shows" %} 
{% block content %}
    <h1>Shows</h1> {% for entry in craft.entries.find({ section:'shows', date : "<= " ~ now.w3cDate() , order:'date desc'}) %}
    <div class="show-block flex">
        <div class="third">
            <article>
                <p>{{ entry.date | date("F d, Y") }}</p>
                <h3><a href="{{ entry.url }}"> 
					{{ entry.venue.first() }}</a></h3>
					<h2>{{ entry.lineUp }}</h2>
                    {% if entry.cover|length %}
                        , {{ entry.cover }}
                    {% endif %}
                </p>
					{{ entry.body }}
            </article>
        </div>
        <div class="third">
            {% for asset in entry.showArt %}
            <img class="albumart" src="{{ asset.getUrl('threeHundredTwentyPxWide') }}" alt="{{ entry.venue.first() }} {{ entry.lineUp|replace({'<p>': ' ', '</p>': ' '}) }} {{ entry.date | date(" M d, Y") }}" /> {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
