{% extends "_layout" %} 
{% set title = "Luke Spurr Allen : #{ entry.title }" %}
{% block content %}
<div class="recording-block">
    <article class="flex space-between">
        <div class="third">
            {% for asset in entry.albumArt %}
            <div class="text-align-center">
                <img class="recordings-page" src="{{ asset.getUrl('threeHundredTwentyPxWide') }}" />
            </div>
            {% endfor %}
            <hr>
            <div class="recordings-page text-align-center">
                <div class="youtube-player" data-id="{{ entry.embedCode }}"></div>
            </div>
            {% include "_includes/_sharebutton" %}
        </div>
        <div class="recording-text two-third">
            <h1>{{ entry.title }}</h1>
            <hr>
            <p><a href="{{ entry.downloadLink }}" target="_blank">Purchase <i>{{ entry.title }}</i> from CD Baby</a></p>
            <p>{{ entry.body }}</p> 
            {% if entry.lyrics %}
                <h2>Lyrics</h2>
                     <hr>
                <div class="lyrics">{{ entry.lyrics }}</div> 
            {% endif %}
        </div>
	</article>
	</div>
	<div class="flex space-between">
	{% for entry in craft.entries.section('recordings').order('lft desc') %}
		<article>
			<a href="{{ entry.url }} ">
			{% for asset in entry.albumArt %}
    			<img class="albumart" src="{{ asset.getUrl( 'threeHundredPxSquare') }} " />
			{% endfor %}
			</a>
		</article>
	{% endfor %}
	<script src="../assets/js/youtube-player.js "></script>
	</div>
    {% set musicAlbumJsonLd = {
    type: "MusicAlbum",
    name: entry.title | escape('html_attr'),
    image: entry.albumArt.first().url |default(seomaticMeta.seoImage),
    description: entry.albumDescription | escape('html_attr'),
    url: seomaticMeta.canonicalUrl,
    albumProductionType: 'studio album',
    datePublished: entry.postDate.iso8601(),
    sameAs: [entryDownloadLink]
} %}
{% set musicAlbumJsonLd = musicAlbumJsonLd | merge({"author": seomaticIdentity}) %}
{% set musicAlbumJsonLd = musicAlbumJsonLd | merge({"creator": seomaticIdentity}) %}
{% set musicAlbumJsonLd = musicAlbumJsonLd | merge({"byArtist": seomaticIdentity}) %}
{{ musicAlbumJsonLd | renderJSONLD }}
{# sameAs: entry.amazonLink, entry.appleMusicLink, entry.itunesLink, entry.spotifyLink] #}
{% endblock %}
