{#
 # Press entry template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<div class="basic-block">
	<article>
		<div class="flex nowrap space-between stretch">
			<div class="photo">
				{% for asset in entry.pressPhotos %}
					<img src="{{ asset.getUrl('sixHundredFortyPxWide') }}" />
				{% endfor %}<br>
			</div>
			<div class="press-index flex nowrap">
				<div>
					<h1>{{ entry.title }}</h1>
					<h2>{{ entry.articleAuthor }}</h2>
					<i>{{ entry.publication }}</i>, {{ entry.publicationDate | date("M d, Y") }}
				</div>
			</div>
		</div>
		<div class="press-text">
			{{ entry.body }}
		</div>
	</div>
</article>
</div>
{% endblock %}
