{#
 # Press entry template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<div class="press-block">
	<article class="flex">
		<div class="press-text">
			{% for asset in entry.pressPhotos %}
				<img class="albumart" src="{{ asset.getUrl('sixHundredFortyPxWide') }}" />
			{% endfor %}<br>
			<h1>{{ entry.title }}</h1>
			<p>{{ entry.author }}</p>
			<i>{{ entry.publication }}</i>, {{ entry.publicationDate | date("M d, Y") }}
			<hr>
			{{ entry.body }}
		</div>
	</article>
	</div>
{% endblock %}
