{#
 # Press entry template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<div class="basic-block">
	<article>
		<div class="flex nowrap space-between">
			<div class="photo third">
				{% for asset in entry.pressPhotos %}
					<img src="{{ asset.getUrl('threeHundredTwentyPxWide') }}" />
					<h6>{{ entry.photoCredit }}</h6>
				{% endfor %}<br>
			</div>
			<div class="press-title flex two-third">
				<div>
					<h1>{{ entry.title }}</h1>
					<h2>{{ entry.articleAuthor }}</h2>
					<i>{{ entry.publication }}</i>, {{ entry.publicationDate | date("M d, Y") }}
				</div>
			</div>
		</div>
		<div class="flex nowrap space-between">
			<div class="third">
			</div>
			<div class="two-third">
				<div class="press-text">
					{{ entry.body }}
				</div>
			</div>
		</div>
	</article>
</div>
{% endblock %}
