{% extends "_layout" %}
{% set title = "Luke Spurr Allen : Press" %}

{% block content %}
	<h1 class="page-title">Press</h1>
	<div class="basic-block">
		{% for entry in craft.entries.section('press').order('publicationDate desc') %}
			<article class="flex nowrap space-between">
				<div class="third">
				{% for asset in entry.pressPhotos %}
	    			<img class="albumart" src="{{ asset.getUrl('threeHundredTwentyPxWide') }}" />
				{% endfor %}
				</div>
				<div class="two-third">
					<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
					<h2>{{ entry.articleAuthor }}</h2>
					<p><i>{{ entry.publication }}</i>, {{ entry.publicationDate| date(" F d, Y ") }}</p>
				</div>
			</article>
		{% endfor %}
	</div>
{% endblock %}