<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width">
	{% include '_includes/_stylesheets' %}
	{% include '_includes/_favicons' %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	{% include '_includes/_fbsdk' %}
	<meta name="google-site-verification" content="j4jaUmU8CKTksVP6vpaUiMhIA77GCOMp5mejmAZVbYc" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-GTQB3D2131"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-GTQB3D2131');
	</script>
</head>

<body>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
				{% include '_includes/_menu' %}
		</header>

		<main id="content" role="main">
			{% block content %}

			{% endblock %}
		</main>

		<footer id="footer">
			{% include '_includes/_footer' %}
		</footer>
	</div>
</body>
</html>
