
{% for entry in craft.entries.section('shows') %}
<p>
---<br>

date: {{ entry.date | date("F j, Y")}}<br>
venue: {{ entry.venue.first() }}<br>
lineup: {{ entry.lineUp }}<br>
start_time: {{ entry.time | date("g:i a") }}<br>
cover: {{ entry.cover }}<br>
image: {{ entry.showArt.first().getUrl('sixHundredFortyPxWide') }}<br>

---<br>

{{ entry.body | raw}}
</p>

{% endfor %}