
  {% for entry in craft.entries.section('shows') %}
<p style="font-family: monospace;">
---<br>
date: {{ entry.date | date("F j, Y")}}<br>
venue: {{ entry.venue.first() }}<br>
lineup: {{ entry.lineUp }}<br>
start_time: {{ entry.time | date("g:i a") }}<br>
{% if entry.cover| length %}
  cover: {{ entry.cover }}<br>
{% endif %}

image: {% set image = entry.showArt.first() %}<br>

---<br>
{% if image %}
<img src="{{ image.getUrl('sixHundredFortyPxWide') }}"><br>
{% endif %}

{{ entry.body | raw}}
</p>
{% endfor %}
